<div id="home">
    <div class="Hero">
        <div class="Hero-image"></div>
        <div class="Hero-content">
            <div class="Hero-content-inner">
                <img src="/171109_seedtribe-branding_bricktribe-logo-icon-color.svg" height="56px" width="56px" alt="SeedTribe" style="margin-bottom: 16px;">
                <h1 class="Hero-header">Crowdfunding Campaign Guide</h1>
                <p>Advice and ideas to get your campaign funded in 60 days</p>
            </div>
        </div><!-- /.Hero-content -->
    </div><!-- /.Hero -->
</div>
