/*------------------------------------*\
    #COMPONENTS: HEADER
\*------------------------------------*/

.Header {
  position: relative;
  transform: translate3d( 0, -360px, 0 );
  -webkit-transform: translate3d( 0, -360px, 0 );
  transition: transform .25s ease-in-out;
      -webkit-transition: -webkit-transform .25s ease-in-out;
  z-index: 100;

  @include breakpoint(md) {
    transform: none;
  }
}

.is-animating .Header {
  transform: translate3d( 0, 0, 0 );
  -webkit-transform: translate3d( 0, 0, 0 );
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}
