/*------------------------------------*\
    #COMPONENTS: NAVIGATION
\*------------------------------------*/

/* Navigation */

.Navigation {
  background-color: #4353FF;
  bottom: 0;
  display: block;
  margin: 0;
  padding: 48px;
  position: relative;

  @include breakpoint(md) {
    position: fixed;
    margin: 48px;
    z-index: 100;
    bottom: 24px;
  }
}

.Navigation ul {
  list-style: none;
  margin: 0;
}

.Navigation a {
  color: white;
  text-decoration: none;
}

.Navigation a:hover {
  text-decoration: underline;
}
