/*------------------------------------*\
    #COMPONENTS: CHAPTER
\*------------------------------------*/

/* Section */

.Chapter {
    display: flex;
}

.Chapter div {
    width: 50%;
}

.Chapter-text {
    padding: 60px;
}

.Chapter-image {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
