/*------------------------------------*\
    #COMPONENTS: HERO
\*------------------------------------*/

/* Hero */

.Hero {
  display: block;

  @include breakpoint(md) {
    display: flex;
  }
}

.Hero-image,
.Hero-content {
  width: 100%;

  @include breakpoint(md) {
    width: 50%;
  }
}

.Hero-image {
  height: 75vw;
  position: relative;
  background-image: url('../biel-morro-235394-unsplash.jpg');
  background-size: cover;
  background-position: center;
  top: 0;

  @include breakpoint(md) {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
  }

}

.Hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Hero-content-inner {
  padding: 48px;
}

.Hero-header {
  max-width: 587px;
  margin: 0 auto;
}
