/*------------------------------------*\
    #BASE: LISTS
\*------------------------------------*/

ul, ol {
  color: $color-dark;
  list-style-position: outside;
  list-style-type: round;
  max-width: 675px;
  padding-left: 0;
  margin: 1.6em 0 1.6em 0;

  li {
    margin: 0 0 0.6em 0;
  }
}

ul + p {
  @include margin-top(1);
}
